/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

.fixed-top {
    background-color: #333;
    padding: 5px;
    display: block;
}

.return-home {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    display: inline-block;
    padding: 15px;
}

.return-home:visited {
    color: #fff;
}


.return-home-button {
    background-color: #53a653;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    padding: 0px;
    outline: none;
}

.return-home-button:hover {
    background-color: #2d532d;
}

.web-body {
    display: block;
}

.banner {
    color: #f26200;
    background-color: #f5ecdb;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bolder;
    border: none;
    padding: 120px;
}

img {
    border-radius: 50%;
    display: block;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 50px;
}

img:hover {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.name {
    color: #f26200;
    text-align: center;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.student-info {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.section {
    margin: 0px 250px 0px 250px;
}

.homework-link {
    color: #f26200;
    background-color: #f5ecdb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    padding: 30px;
}


.detail {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

.homework-buttons {
    display: flex;
    justify-content: space-around;
}

.hw-btn {
    color: #fff;
    background-color: #f26200;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    outline: none;
}
.hw-link{
    color: #fff;
    text-decoration: none;
}
.hw-link:visited{
    color: #fff;
}

.btn-rotate:hover {
    -webkit-animation: spin13deg 1s linear infinite;
    -moz-animation: spin13deg 1s linear infinite;
    animation: spin13deg 1s linear infinite;
    background-color: #632b30;
}

@-moz-keyframes spin13deg {
    100% {
        -moz-transform: rotate(13deg);
    }
}

@-webkit-keyframes spin13deg {
    100% {
        -webkit-transform: rotate(13deg);
    }
}

@keyframes spin13deg {
    100% {
        -webkit-transform: rotate(13deg);
        transform: rotate(13deg);
    }
}

.btn-enlarge:hover {
    transform: scale(1.5);
    background-color: #632b30;
}

.btn-rotate-color:hover {
    animation: wheelHueColor 3s infinite;
}

@keyframes wheelHueColor {

    from,
    to {
        background-color: #f26200;
    }

    50% {
        background-color: #C3CF13;
    }

    100% {
        background-color: #008000;
    }
}

.btn-darken:hover {
    background: #632b30;
}

.timetable {
    color: #f26200;
    background-color: #f5ecdb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    padding: 30px;
}

table {
    color: black;
    background-color: #f5ecdb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    border: 1px #f26200 solid;
    table-layout: fixed;
    width: 100%;
}

th {
    background-color: #f26200;
    padding: 10px;
}

td {
    padding: 10px;
    border: 1px #f26200 solid;
    font-size: 15px;
}

td:hover {
    background-color: #FFF510;
}

.fix-bottom {
    display: flex;
    background-color: #f5ecdb;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
}